*egg-info
__pycache__/
proj_config.yaml
tmp/
tmp.py
outputs/
checkpoints/
logs/
validation_outputs/
wandb/
traj_check/
server/log/
debug/
tmp.py
tmp.jsonl
tmp.json
tmp.png
tmp.txt
judge_taget_is_in_image/dataset/
judge_target_is_in_image/debug/
